<nav class="nav-bar">
  <input type="checkbox" id="nav-toggle">
  <label for="nav-toggle" class="nav-toggle-label"><span></span></label>
  <ul class="nav-menu">
    <li><a href="/index.html" {{nav-button:index}}>About</a></li>
    <li>
      <a href="/projects.html" {{nav-button:projects}}>Projects</a>
      <input type="checkbox" class="nav-sub-toggle" id="nav-projects-toggle">
      <label for="nav-projects-toggle" class="nav-sub-toggle-label"><span></span></label>
      <ul class="nav-sub-menu">
        <li><a href="/projects/mips-language-server.html">MIPS Language Server</a></li>
        <li><a href="/projects/tree-sitter-mips.html">MIPS and RISC-V Grammar</a></li>
        <li><a href="/projects/obsidian-scrolling.html">Obsidian Scrolling</a></li>
        <li><a href="/projects/pendulum-balancing-ai.html">Pendulum balancing AI</a></li>
        <li><a href="/projects/leafy-hollows.html">Leafy Hollows</a></li>
      </ul>
    </li>
    <li><a href="https://github.com/omeyenburg">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/omeyenburg">LinkedIn</a></li>
  </ul>
</nav>
<script>
  /* Prevent dragging on navigation bar buttons (required on Firefox) */
  document.querySelectorAll("nav.nav-bar a").forEach(link => {
    link.addEventListener("dragstart", e => e.preventDefault());
  });
</script>
